<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>_id_</string>
       <key>Developer Identifier</key>
       <string>_developer_id_</string>
       <key>CFBundleVersion</key>
       <string>_version_</string>
       <key>CFBundleShortVersionString</key>
       <string>_version_</string>
       <key>URL</key>
       <string>_url_</string>
     </dict>
   </array>
</dict>
</plist>